# CORS Headers 
Header always set Access-Control-Allow-Origin "*" 
Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS" 
Header always set Access-Control-Allow-Headers "*" 
 
# Metadata for version file 
<Files "production"> 
    Header always set x-amz-meta-bootstrap-version "1002" 
    Header always set x-amz-meta-bootstrap-size "1843148" 
    Header always set x-amz-meta-bootstrap-object "2c86222e82274e6d8e8d0c46db89706d2f6c36c5058c43fedc01c53f0f57d9b3"
    Header always set Content-Type "text/plain" 
</Files> 
 
# Headers for .xz files 
<FilesMatch "\.xz$"> 
    Header always set Content-Type "application/octet-stream" 
</FilesMatch> 
